* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background: grey;
}
#headerImg {
    width: 25rem;
    height: 10rem;
    display: block;
    margin: 1rem auto;
}
nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 75%;
    margin: 0 auto;
  }
li {
    border: 1px solid black;
    box-sizing: border-box;
  margin-left: 14.5%;
  display: inline-block;
  background: #e2231a;
  height: 3rem;
  width: 6rem;
  text-align: center;
}
li a{
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    color: white;
    text-decoration: none;
}
#selected {
    background: rgb(202, 202, 202);
    
}
#selected a {
    color: rgb(141, 141, 141);
}
li:hover {
    background: grey;
    color: lightgrey;
}
li a:hover {
    color: lightgrey;
}
#selected:hover {
    background: grey;
    color: lightgrey;
}
#selected a:hover {
    color: lightgrey;
}
footer {
    margin-top: 2rem;
    background: black;
    text-align: center;
}
footer a {
    color: white;
    font-size: 1.5rem;
}
#page {
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgb(63, 63, 63);
    background: white;
}
section {
    display: inline-block;
}
.width40 {
    width: 40%;
}
section a {
    font-family: 'Open Sans', sans-serif;
}
section img {
    max-width: 100%;
}
#whitespace {
    display: inline-block;
    width: 19.4%;
    height: 100%;
}
.page2Div {
    display: inline-block;
    width: 25%;
}
.page2Div .text {
    text-align: right;
    margin-bottom: 4rem;
    margin-left: 2rem;
}
#page2Imgs {
    display: inline-block;
    width: 30%;
    text-align: center;
}
#page2Imgs img {
    min-width: 80%;
}
.wide {
    width: 100%;
}
.centerMiddle {
    text-align: center;
}
.centerMiddle img{
    width: 100%;
    height: 10rem;
}
.greyBox {
    width: 40%;
    background: grey;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.greyBox div {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.greyBox h1 {
    background: black;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#threeLongImg img{
    width: 32%;
    margin: 0.5%;
}
#page4Img4 {
    display: inline-block;
    width: 60%;
}
#page4div {
    width: 15%;
    display: inline-block;
}
#page4div img{
    width: 100%;
}
#page4Img7 {
    display: inline-block;
    width: 24%;
}
